.breadcrumb {
  display: inline-flex;
  list-style: none;
  overflow: hidden;
  font: 18px Helvetica, Arial, Sans-Serif;
  padding: 0;
  border: 2px solid #CACDD1;
}

.breadcrumb li a {
  color: black;
  text-decoration: none;
  padding: 10px 0 10px 55px;
  background: white;
  position: relative;
  display: block;
}

.breadcrumb li a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}

.breadcrumb li a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #CACDD1;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}

.breadcrumb li:first-child a {
  padding-left: 10px;
}

.breadcrumb li:last-child {
  padding-right: 10px;
}

.breadcrumb li .active {
  background: #185AD1;
}

.breadcrumb li .active:after {
  border-left-color: #185AD1;
}