#testStatus {
    position: relative;
    width: auto;
    height: 140px;
    left: 40px;
}

.testStatus li {
    position: relative;
    text-indent: 30px;
    height: 140px;
    background-color: #767676;
    display: inline-block;
    zoom: 1;
    *display: inline;
    padding: 10px 10px 10px 30px;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 150px;
}

ul.testStatus {
    list-style: none;
}

li.testStatus:first-child:after, li.testStatusGood:after, li.testStatusNoGood:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 80px solid transparent;
    border-left: 30px solid #767676;
    border-bottom: 80px solid transparent;
    margin: -10px 90px 0 10px; 
}

/*li.testStatus:last-child:before, li.testStatusNoGood:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 0;*/
/*    height: 0;*/
/*    left: 0;*/
/*    border-top: 80px solid transparent;*/
/*    border-left: 30px solid white;*/
/*    border-bottom: 80px solid transparent;*/
/*    margin: -10px 0px 0 0px; */
/*}*/

li.testStatusNoGood:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    border-top: 80px solid transparent;
    border-left: 30px solid white;
    border-bottom: 80px solid transparent;
    margin: -10px 0px 0 0px;
}

li.testStatus:first-child {
    padding-left: 10px;
    margin-left: 0;
}

li.testStatus:last-child {
    padding-right: 30px;
}

li.testStatusNoGood {
    background-color: #c42c00;
}

li.testStatusNoGood:after {
    border-left: 30px solid #c42c00;
}