.user__item__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.user__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  background-color: #FFF;
}


.user__item__element {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 15px 0 15px;
}

.user__item__element > *:not(:last-child) {
  margin-right: 7px;
}

.user__item__avatar {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
