.user__container__wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.user__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    background-color: #FFF;
}

.user__container__element {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 15px 0 15px;

}

.user__container__avatar {
    margin-right: 15px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}