.userContainer {
    display: flex;
    flex-direction: column;
}

.userContainerElement {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.userContainerAvatar {
    margin: 0 15px 0 15px;
}